<app-client-nav></app-client-nav>

<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
    <path fill="#6ca6e1" fill-opacity="1"
        d="M0,96L24,117.3C48,139,96,181,144,192C192,203,240,181,288,176C336,171,384,181,432,170.7C480,160,528,128,576,112C624,96,672,96,720,106.7C768,117,816,139,864,138.7C912,139,960,117,1008,117.3C1056,117,1104,139,1152,165.3C1200,192,1248,224,1296,250.7C1344,277,1392,299,1416,309.3L1440,320L1440,0L1416,0C1392,0,1344,0,1296,0C1248,0,1200,0,1152,0C1104,0,1056,0,1008,0C960,0,912,0,864,0C816,0,768,0,720,0C672,0,624,0,576,0C528,0,480,0,432,0C384,0,336,0,288,0C240,0,192,0,144,0C96,0,48,0,24,0L0,0Z">
    </path>
</svg>

<div class="container">
    <div class="row">
        <div class="col-12">
            <h3 class="text-info">My Appointments</h3>
        </div>
    </div>
    <div class="text-right mb-2">
        <button class="btn btn-success" (click)="add()"><i class="fa fa-plus"></i> Add Appointment</button>
    </div>
    <table class="table" [appBlockUi]="isProcessing">
        <thead>
            <tr>
                <th scope="col">Reference No</th>
                <th scope="col">Date of Appointment</th>
                <th scope="col">Time</th>
                <th scope="col" class="large-screen-only">Created On</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngIf="!appointments?.length">
                <td class="text-center" colspan="4">No records found.</td>
            </tr>
            <tr *ngFor="let item of appointments">
                <td>{{item.referenceNo}}</td>
                <td>{{item.date | date: 'mediumDate'}}</td>
                <td>{{item.time}}</td>
                <td class="large-screen-only">{{item.createdOn | date: 'medium'}}</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="modal fade" (appBsModal)="modal = $event" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" [appBlockUi]="isProcessing">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel"><i class="fa fa-calendar-check-o"></i>&nbsp;&nbsp;<strong>Set Appointment</strong></h4>
                <button type="button" class="close" (click)="modal.close()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label>Reference No</label>
                        <input type="text" class="form-control" name="refNo" placeholder="Reference No" [(ngModel)]="model.referenceNo">
                    </div>
                    <div class="form-group">
                        <label>Date of Appointment</label>
                        <input type="text" class="form-control" name="date" placeholder="Date of Appointment" [ngModel]="model.date" (ngChangeDate)="model.date = $event"
                            [appBsDatepicker]="{ disablePastAndPresentDate: false }">
                    </div>
                    <div class="form-group">
                        <label>Time</label>
                        <div class="form-inline">
                            From:&nbsp;<input type="text" class="form-control w-30" appTimeFormat [appMaxLength]="'5'" name="timeFrom" placeholder="00:00" [(ngModel)]="timeFrom">
                            &nbsp;-&nbsp;
                            <input type="text" class="form-control w-30" appTimeFormat [appMaxLength]="'5'" name="timeTo" placeholder="00:00" [(ngModel)]="timeTo">
                        </div>
                        <small id="timeHelp" class="form-text text-muted font-italic">Time must be in 24 hour format.</small>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" (click)="submit()">Save</button>
                <button type="button" class="btn btn-secondary" (click)="modal.close()">Close</button>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>