.login-header {
    padding: 30px 50px 0px 50px;
    text-align: center;
    color: black !important;
}

.login-form {
    padding: 20px 50px 50px 50px;
}

.btn-link {
    font-weight: bold;
    font-size: 20px;
    color: rgb(34, 33, 33);
}

/* Chrome, Safari, Edge, Opera */
input[name=mobile]::-webkit-outer-spin-button,
input[name=mobile]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[name=mobile] {
  -moz-appearance: textfield;
}