body {
  color: black !important;
  background-color: white !important;
}

table {
  border: 1px solid gray;
  border-collapse: collapse;
}

table th, table td {
  border: 1px solid gray;
  padding: 5px;
}

#btn-sort {
    margin-left: 5px;
}

@media print {
  #btn-print, #btn-sort {
    display: none;
  }
}

p {
  margin: 0px !important;
  padding: 0px !important;
}