<footer class="section section-lg">
    <div class="container text-dark p-5">
        <div class="row">
            <div class="col-lg-4 col-xs-1 p-3">
                <h5>Contact Us</h5>
                <label><i class="fa fa-phone" aria-hidden="true"></i> 0916 436 4009</label>
                <label><i class="fa fa-envelope-o" aria-hidden="true"></i> enriquitoeugenio25@gmail.com</label>
            </div>
            <div class="col-lg-4 col-xs-1 p-3">
                <h5>Address</h5>
                <label><i class="fa fa-home" aria-hidden="true"></i> #33 Earth St. San Felipe Subdivision, Mojon 3000 Malolos, Philippines</label>
            </div>
            <div class="col-lg-4 col-xs-1 p-3">
                <h5>Opening Hours</h5>
                <label>Weekdays: 9:00 am - 7:00 pm</label>
                <label>Weekends: 8:00 am - 8:00 pm</label>
            </div>
        </div>
    </div>
</footer>
