<div class="card">
    <div class="card-body text-dark text-left">
        <h3 class="title text-info">{{item.name}}</h3>
        <p class="font-italic m-0 p-0"><strong>Description/Inclusions:</strong></p>
        <div class="pl-3" [innerText]="item.description">
        </div>
        <br />
        <div class="pl-3" *ngIf="item?.optionals?.length">
            <p class="font-italic m-0 p-0"><strong>OPTIONAL:</strong></p>
            <div class="row" *ngFor="let option of item.optionals; let i = index">
                <div class="col-10" [innerText]="option.description + ' - P' + (option.price | number:'1.2-2')">
                </div>
                <div class="col-2 text-right">
                    <input type="checkbox" [(ngModel)]="item.optionals[i].checked" [ngModelOptions]="{standalone: true}" (change)="onChangeOption()" [disabled]="!item.selected">
                </div>
            </div>
        </div>
        <p class="m-0 p-0"><strong>Good for {{item.pax}} pax</strong></p>
        <p class="font-italic m-0 p-0"><strong>Additional Excess:</strong></p>
        <div class="pl-3" [innerText]="item.addsOn">
        </div>
        <p class="m-0 p-0"><strong>P {{item.price | number: '1.2-2'}}</strong></p>
    </div>
</div>